@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    /* color properties */
    --color-1: #E0E0E0;
    --color-2: #F5F5F5;
    --color-3: #333;
    --color-4: #555;

    --corner-radius: 4px;
    --hover-effect: background-color 0.2s linear;
    
    /* font properties */
    --header-font: 'Poppins';
    --body-font: 'Source Sans 3';
}

body {
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;
    min-height: 100vh;
}

header {
    align-items: center;
    /*background-color: #D9D9D9;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header > .nav-buttons > button, header > .header-txt > h1 {
    font-family: var(--header-font);
    font-weight: 500;
}

header > .nav-buttons > button {
    background-color: var(--color-3);
    border: none;
    border-radius: var(--corner-radius);
    color: var(--color-2);
    cursor: pointer;
    height: 32px;
    transition: var(--hover-effect);
    width: 70px;
}

header > .nav-buttons > button:hover {
    background-color: var(--color-4);
}

header > .nav-buttons > button:not(:nth-child(4)) {
    background-color: inherit;
    color: var(--color-3);
}

header > .nav-buttons > button:not(:nth-child(4)):hover {
    background-color: var(--color-1);
}

main {
    flex-grow: 1;
}

main, footer {
    font-family: 'Source Sans 3';
}